/*Styles.css*/
:root {
		--image-header: url("./images/DSC00981.jpg");
		--image-header2: url("./images/pre1.jpg");
		/*Virginia Colors Palette */
		--red-virginia: #920101;
		--black-virginia: #48404d;
		--greyTenue1-virginia: #5b5b5b;
		--greyTenue2-virginia: #999999;
		--blue-virginia: #2064a2;
		--hidden-forest-orange:	#ffa03b;
		--hidden-forest-orange-dark: #ff5e36;
		--hidden-forest-black: #181515;
		--hidden-forest-grey: #362e2e;
		/*Colors for fonts*/
		--whitef: #fffff0;
		/*FONTS*/
		--dosis: 'Dosis', sans-serif;
		--rubikMono: 'Rubik Mono One', monospace;
		--passion: 'Passion One', sans-serif;
		/*box-shadow colors */
		--procras: #5f86a2;
		--procras2: #9d3d3d;
		--red-wine:	#901602;
		--red-chillante: #ff2741;
		
}
body {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: var(--hidden-forest-black);
}
a {
	text-decoration: none;
	color: inherit;
}
footer {
	margin: 0;
	background-color: var(--hidden-forest-black);
	text-align: center;
	color: var(--hidden-forest-orange);
	font-family: var(--dosis);
}
